<!DOCTYPE html>
<html ng-app="cacheCleaner">
    <head>
        <title>Cache Cleaner</title>

        <meta name="description" content="DHIS 2">
        <meta name="keywords" content="DHIS 2">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script>
            //Global variables
            BASEURL = '<%= htmlWebpackPlugin.options.BASEURL  %>'
            BASEAPIURL = '<%= htmlWebpackPlugin.options.BASEAPIURL  %>';
        </script>
        <%= htmlWebpackPlugin.options.stylesheets(webpack.hash) %>
        <%= htmlWebpackPlugin.options.vendorScripts %>
        <script>
            // Needs to be wrapped in jQuery to be sure the DOM is parsed as the script is not at the bottom.
            jQuery(function () {
                Dhis2HeaderBar.initHeaderBar(document.querySelector('#header'), BASEAPIURL, { noLoadingIndicator: true });
            });
        </script>
    </head>

    <body>
    <div id="header"></div>

    <div id="leftBar"></div>
    <div class="page" id="mainPage" ng-controller="MainController">

        <!-- top bar begins -->
        <div class="row top-bar">
            <div class="col-sm-12">
                {{'DHIS 2 browser cache cleaner' | i18next}}
            </div>
        </div>
        <!-- top bar ends -->

        <div class="row" ng-if="ssCacheExists || lsCacheExists || idCacheExists">
            <div class="col-sm-6"><h3 ng-if="ssCacheExists">{{'Session storage' | i18next}}</h3>
                <table class="table table-bordered table-striped" ng-if="ssCacheExists">
                    <tr ng-repeat="ssKey in ssKeys">
                        <td>
                            {{ssKey.id}}
                        </td>
                        <td>
                            <input type="checkbox" ng-model="ssKey.remove">
                        </td>
                    </tr>
                </table>

                <h3 ng-if="lsCacheExists">{{'Local storage' | i18next}}</h3>
                <table class="table table-bordered table-striped" ng-if="lsCacheExists">
                    <tr ng-repeat="lsKey in lsKeys">
                        <td>
                            {{lsKey.id}}
                        </td>
                        <td>
                            <input type="checkbox" ng-model="lsKey.remove">
                        </td>
                    </tr>
                </table>

                <h3 ng-if="idCacheExists">{{'indexedDB' | i18next}}</h3>
                <table class="table table-bordered table-striped" ng-if="idCacheExists">
                    <tr ng-repeat="dbKey in dbKeys">
                        <td>
                            {{dbKey.id}}
                        </td>
                        <td>
                            <input type="checkbox" ng-model="dbKey.remove">
                        </td>
                    </tr>
                </table>

                <button type="button" class="btn btn-danger" ng-click="clearCache()">{{'Clear' | i18next}}</button>
                <button type="button" class="btn btn-primary" ng-if="(ssKeys | filter: {remove: true}).length > 0 || (lsKeys | filter: {remove: true}).length > 0 || (dbKeys | filter: {remove: true}).length > 0" ng-click="selectAll()">{{'Unselect all' | i18next}}</button>
                <button type="button" class="btn btn-primary" ng-if="(ssKeys | filter: {remove: true}).length == 0 && (lsKeys | filter: {remove: true}).length == 0 && (dbKeys | filter: {remove: true}).length == 0" ng-click="selectAll()">{{'Select all' | i18next}}</button>

            </div>

        </div>

        <div class="row col-sm-6 vertical-spacing" ng-if="!lsCacheExists && !idCacheExists">
            <div class="alert alert-info">{{ afterClearing ? 'Browser cache is cleared.' : 'Browser cache is empty. Nothing to clear.' | i18next}}</div>
        </div>

    </div>

</body>
</html>
