body {
    font-family: Roboto, sans-serif;
}

.top-bar {
    font-size: 16pt;
    font-weight: normal;
    color: #585D61;
}

.vertical-spacing{
    margin-top: 20px;
}

table
{
    font-size: 13px;
    line-height: 24px;
    table-layout: fixed;
    margin-bottom: 10px;
}

.page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

td:nth-child(2) {
    width: 10%;
    text-align: center;
}

html {
    font-size: 14px;
}
